.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c2382f;
  height: 4rem;
}

@media (max-height: 700px){
  .example-footer {
    height: 3rem;
  }

}

@media (max-width: 600px){
  img{
    width: 300px;
  }
}

@media (max-width: 390px){
  img{
    width: 240px;
    height: 55px;
  }
}

@media (max-width: 280px){
  img{
    width: 200px;
  }
}
